/* DEFAULTS
----------------------------------------------------------*/

body   
{
    background: #EBECE4;
    font-size: .80em;
    font-family: "Helvetica Neue", "Lucida Grande", "Segoe UI", Arial, Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/

h1, h3, h4, h5, h6
{
    font-weight: normal;
    color: #666666;
    text-transform: none;
    margin-bottom: 4px;
}

h1
{
    padding-bottom: 0px;
    margin-bottom: 0px;
}

h2
{
    font-size: 1.2em;
    font-weight: normal;
    color: #666666;
    text-transform: none;
    font-variant:normal;
    padding: 0;
    margin: 0;
}

h3
{
    font-size: 1em;
}

h4
{
    font-size: 1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightColumn > h1, .rightColumn > h2, .leftColumn > h1, .leftColumn > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page
{
    width: 1060px;
    background-color: #fff;
    margin: 20px auto 0px auto;
    border: 1px solid #496077;
}

.header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    background: #EEF3E2;
    width: 100%;
}

.header h1
{
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #8B8378;
    border: none;
    font-size: 1em;
}

.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 420px;
}

.leftCol
{
    padding: 6px 0px;
    margin: 12px 8px 8px 8px;
    width: 200px;
    min-height: 200px;
}

.footer
{
    color: #8B7D6B;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
}

.footer a
{
    color: #8B7D6B;
}

.footer a:hover
{
    color: #458B74;
    text-decoration:underline;
}

/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    background-color:#FEF6E4;
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 20px;
}

div.menu ul
{
    list-style: none;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li
{
    padding: 0px 2px 0px 2px;
}

div.menu ul li a, div.menu ul li a:visited
{
    color: #8B7D6B;
    display: block;
    line-height: 1.35em;
    padding: 4px 6px;
    white-space: nowrap;
    text-decoration: none;
}

div.menu ul li a:hover
{
    color: #458B74;
    text-decoration:underline;
}

div.menu ul li a:active
{
    background-color: #465c71;
    color: #cfdbe6;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/

fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    padding: 8px;
    font-size: 1.3em;
    display: block;
    float: left;
    text-align: left;
    width: auto;
}

.title a
{
    text-decoration:none;
    color: #8B8378;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}

.kenList a
{
    color: #458B74;
    color: Gray;
    text-decoration: none;
}

.kenLog
{
    margin-top:2em;
    padding:.5em;
    border:1px solid #F1EDC2;
}

.kenLogEasiest
{
    font-size:1.2em;
    padding:4px;
    background-color:#FEF1E9;
}

.kenLogWhy
{
    padding:4px;
    background-color:#FEF6E4;
}

.kenLogResult
{
    padding:4px;
    background-color:#ECF1EF;
}

.kenGrid table
{
    border:1px solid #8B8378;
    border-spacing:0px;
    margin-bottom: 0px;
}

.kenGrid td
{
    border-width: 1px;
    border-style: solid;
    border-color: #EEF3E2;
}

.LogData
{
    color: #303030;
}

.button
{
    font-size:1.2em;
    color: #556B2F;
    background-color: #EEF3E2;
    border: 1px solid green;
    padding: 6px;
}